#asgiref
certifi
charset-normalizer
click
config
coreapi
coreschema
Django
django-createsuperuser
djangorestframework
djangorestframework-simplejwt
djongo
dnspython
drf-yasg=
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
packaging
Pillow
PyJWT
pymongo
pytz
requests
ruamel.yaml
ruamel.yaml.clib
sqlparse
uritemplate
urllib3
whitenoise
